* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
    background-color: transparent;
}

.info a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

html, body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0;
    padding: 0;
    color: #000000;
    background-color: white;
    font-size: 14px;
    min-height: 100vh;
}


.header {
    width: 100vw;
    background-color: #000000;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid rgb(51, 51, 51);
}

.header a {
    color: white;
}

.header-inner {
    border-bottom: 1px solid rgb(31, 31, 31);
    font-size: 50px;
    padding: 0.5rem 0px;
}

.menu {
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.navigation {
    display: flex;
}

.navigation li {
    display: inline-block;
    letter-spacing: 0.13em;
    font-weight: 600;
    width: 130px;
    height: 40px;
    line-height: 40px;
}

.navigation li a {
    display: block;
}

.navigation li:hover {
    background-color: rgb(31, 31, 31);
}

.container {
    max-width: 1600px;
    margin: 0px auto;
}

.intro {
    margin: 20px auto;
    border-width: 1px 0px;
    border-style: solid;
    border-color: rgb(224, 224, 224);
    width: 100%;
    min-height: 88px;
    display: flex;
    justify-content: center;
}

h2 {
    text-align: center;
    align-self: center;
    font-weight: normal;
}

h3 {
    text-align: center;
    align-self: center;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin: 15px;
}

.country-name h2 {
    font-weight: 600;
    border-bottom: 1px solid rgb(224, 224, 224);
    margin: 0 30% 0 30%;
}

.base_button {
    align-self: center;
    margin-left: 2rem;
    border-color: rgb(31, 31, 31);
    border-width: 2px;
    border-style: solid;
    background-color: rgb(31, 31, 31);
    min-width: 10rem;
    height: 48px
}

.base_button:hover {
    background-color: rgb(31, 31, 31);
}

.places {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.index_img {
    align-self: center;
    height: 100px;
    width: 100px;
    margin-left: 50px;
    text-align: center;
}

.index_img:hover {
    color: blue;
}

.index_img img {
    width: auto;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.base_button {
    min-width: 10rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-color: rgb(0, 0, 0);
    border-width: 2px;
    border-style: solid;
}

.base_button_span {
    color: white;
    letter-spacing: 0.08em;
    font-weight: 600;
}

.show-list {
    display: flex;
    justify-content: space-between;
}

.country-navigation {
    width: 14%;
    height: 1050px;
    overflow: auto;
    border: 1px solid rgb(224, 224, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.country-input {
    position: absolute;
    width: 180px;
    height: 50px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

.search {
    margin-top: 55px;
}

.search li:hover {
    color: purple;
 }

input {
    border: medium none;
    width: 100%;
    height: 3.1rem;
}

.country-navigation ul {
    margin-left: 0;
    padding-left: 1rem;
}

.country-navigation ul li {
    list-style-type: none;
    line-height: 1.1em;
    font-weight: 500;
    padding-bottom: 1rem;
}

.country-show {
    width: 85%;
    border: 1px solid rgb(224, 224, 224);
}

.country-category-show {
    display: flex;
    justify-content: space-between;
}

.one-place {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
}

.photo {
    height: 250px;
    width: 100%;
    margin: 0 20px 5px;
}

.photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 0 0;
}

.photo a {
    display: block;
    width: 100%;
    height: 100%;
}

.country-one-category {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-one-category a {
    display: flex;
    align-items: center;
    color: black;
}

.category-show {
    display: flex;
    justify-content: left;
    margin: 30px 0;
}

.category-show a {
    color: black;
}

.country-navigation ul li {
    cursor: pointer;
}

.name-detail {
    padding-bottom: 10px;
    font-size: 18px;
}

.name a {
    padding-bottom: 0.75rem;
    font-size: 16px;
    font-weight: 500;
}

.name a:hover {
    text-decoration: underline;
}

.search li.hide {
    display: none;
}

.rating {
    display: flex;
    align-items: flex-end;
    font-size: 35px;
    line-height: 0.75;
    width: 100%;
    height: 20px;
}

.rating__item {
    color: black;
    font-size: 28px;
}

.rating__value {
    font-size: 50%;
    line-height: 1;
    padding: 0 0 0 10px;
}

.rating__body {
  width: 100%;
  height: 20px;
  background-color: #ddd;
}

.rating__active {
  width: 50%;
  background-color: black;
  height: 20px;
}

.choose_button {
    margin-top: 10px;
    margin-left: 0;
    height: 30px;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.info a {
    display: inline;
}

.pagination {
    text-align: center;
}

.step-links {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a:hover {
    background-color: #ddd;
}

.current {
    background-color: gray;
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.latitude {
    visibility: hidden;
}

.longitude {
    visibility: hidden;
}

.main_information {
    display: flex;
    flex-direction: row;
}

#map {
    margin-top: 30px;
    margin-bottom: 20px;
}

.index_img.active {
    background: #b7b6b6;
}