{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="intro_section">
    <div class="container">
        <div class="intro">
            <h2>Use Statistics For Find The Best Places</h2>
            <a class="base_button" href="#">
                <span class="base_button_span">SEE ALL PLACES</span>
            </a>
        </div>
        <div class="places">
            <div class="index_img">
                <a href="/tourist-attractions/3904/"><img src="/media/index_image/tourist_attraction.jpg" alt="Iguazu Falls"></a>
            </div>
            <div class="index_img">
                <a href="/hotels/4674/"><img src="/media/index_image/hotel.jpg" alt="Burj Al-Arab Hotel"></a>
            </div>
            <div class="index_img">
                <a href="/restaurants/7828/"><img src="/media/index_image/restaurant.jpg" alt="Geranium Restaurants"></a>
            </div>
        </div>
    </div>
</section>
<section class="countries">
    <div class="container">
        <div class="intro">
            <h2>Choose A Country</h2>
        </div>
        <div class="show-list">
            <div class="country-navigation">
                <div class="country-input">
                    <input type="text" id="search" placeholder="Search for a country...">
                </div>
                <ul class="search">
                    {% for country in countries %}
                    <li>{{ country.name }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="country-show">
                <div class="country-name">
                    <h2>Afghanistan</h2>
                </div>
                <div class="country-category-show">
                    <div class="country-one-category tourist-attractions">
                        <h3>Tourist attractions</h3>
                        {% for attr in tourist_attractions %}
                        {% if attr.photo %}
                        <div class="one-place">
                            <div class="name"><a href={% url 'view_attraction' attr.pk %}>{{ attr.name|safe }}</a></div>
                            <div class="photo"><a href={% url 'view_attraction' attr.pk %}><img src="{{ attr.photo.url }}" alt=""></a></div>
                            <div class="rating">
                                <div class="rating__item">★</div>
                                <div class="rating__body">
                                    <div class="rating__active"></div>
                                    <div class="rating__items"></div>
                                </div>
                                <div class="rating__value">{{ attr.rating }}</div>
                            </div>
                            <div class="number_of_review">{{ attr.number_of_review }} reviews</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <a class="base_button choose_button" href="#">
                            <span class="base_button_span">SEE ALL TOURIST ATTRACTIONS</span>
                        </a>
                    </div>
                    <div class="country-one-category hotels">
                        <h3>Hotels</h3>
                        {% for hotel in hotels %}
                        {% if hotel.photo %}
                        <div class="one-place">
                            <div class="name"><a href={% url 'view_hotel' hotel.pk %}>{{ hotel.name|safe }}</a></div>
                            <div class="photo"><a href={% url 'view_hotel' hotel.pk %}><img src="{{ hotel.photo.url }}" alt=""></a></div>
                            <div class="rating">
                                <div class="rating__item">★</div>
                                <div class="rating__body">
                                    <div class="rating__active"></div>
                                    <div class="rating__items"></div>
                                </div>
                                <div class="rating__value">{{ hotel.rating }}</div>
                            </div>
                            <div class="number_of_review">{{ hotel.number_of_review }} reviews</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <a class="base_button choose_button" href="#">
                            <span class="base_button_span">SEE ALL HOTELS</span>
                        </a>
                    </div>
                    <div class="country-one-category restaurants">
                        <h3>Restaurants</h3>
                        {% for restaurant in restaurants %}
                        {% if restaurant.photo %}
                        <div class="one-place">
                            <div class="name"><a href={% url 'view_restaurant' restaurant.pk %}>{{ restaurant.name|safe }}</a></div>
                            <div class="photo"><a href={% url 'view_restaurant' restaurant.pk %}><img src="{{ restaurant.photo.url }}" alt=""></a></div>
                            <div class="rating">
                                <div class="rating__item">★</div>
                                <div class="rating__body">
                                    <div class="rating__active"></div>
                                    <div class="rating__items"></div>
                                </div>
                                <div class="rating__value">{{ restaurant.rating }}</div>
                            </div>
                            <div class="number_of_review">{{ restaurant.number_of_review }} reviews</div>
                        </div>
                        {% endif %}
                        {% endfor %}
                        <a class="base_button choose_button" href="#">
                            <span class="base_button_span">SEE ALL RESTAURANTS</span>
                        </a>
                    </div>
                    <script src={% static "google_trip/js/index.js" %}></script>
                    <script src={% static "google_trip/js/rating.js" %}></script>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
