{% extends 'base.html' %}
{% load static %}

{% block content %}
<section class="countries">
    <div class="container">
        <div class="intro">
            <h2>Choose A Country</h2>
        </div>
        <div class="show-list">
                        <div class="country-navigation">
                <div class="country-input">
                    <input type="text" id="search" placeholder="Search for a country...">
                </div>
                <ul class="search">
                    {% for country in countries %}
                    <a href= {{request.path}}?country__name={{ country.name|urlencode }}><li>{{ country.name }}</li></a>
                    {% endfor %}
                </ul>
                <script src={% static "google_trip/js/country_navigate.js" %}></script>
            </div>
            <div class="country-show">
                <div class="country-name">
                    <h2>World</h2>
                </div>
                {% for item in restaurants %}
                <div class="category-show">
                    {% if item.photo %}
                    <div class="photo">
                        <img src="{{ item.photo.url }}" alt="">
                    </div>
                    {% else %}
                    <div class="photo">
                        <img src="/media/common/no_photo.jpg">
                    </div>
                    {% endif %}
                    <div class="place-information">
                        <div class="name">
                            <a href={% url 'view_restaurant' item.pk %}>{{ item.name|safe }}</a>
                        </div>
                        <div class="number_of_review">
                            number of review: {{ item.number_of_review }}
                        </div>
                        <div class="rating">
                            <div class="rating__item">★</div>
                            <div class="rating__body">
                                <div class="rating__active"></div>
                                <div class="rating__items"></div>
                            </div>
                            <div class="rating__value">{{ item.rating }}</div>
                        </div>
                        <div class="info">
                            {% if item.country.name %}
                            Country: <a href={% url 'geo' %}?country__name={{ item.country.name|urlencode }}>{{ item.country.name }}</a>
                            <br>
                            {% endif %}
                            {% if item.state.name %}
                            State: <a href={% url 'geo' %}?country__name={{ item.country.name|urlencode }}&state__name={{ item.state.name|urlencode }}>{{ item.state.name }}</a>
                            <br>
                            {% endif %}
                            {% if item.region.name %}
                            Region: <a href={% url 'geo' %}?country__name={{ item.country.name|urlencode }}&region__name={{ item.region.name|urlencode }}>{{ item.region.name }}</a>
                            <br>
                            {% endif %}
                            {% if item.county.name %}
                            County: <a href={% url 'geo' %}?country__name={{ item.country.name|urlencode }}&state__name={{ item.state.name|urlencode }}&region__name={{ item.region.name|urlencode }}&county__name={{ item.county.name|urlencode }}>{{ item.county.name }}</a>
                            <br>
                            {% endif %}
                            {% if item.city.name %}
                            City: <a href={% url 'geo' %}?country__name={{ item.country.name|urlencode }}&state__name={{ item.state.name|urlencode }}&region__name={{ item.region.name|urlencode }}&county__name={{ item.county.name|urlencode }}&city__name={{ item.city.name|urlencode }}>{{ item.city.name }}</a>
                            <br>
                            {% endif %}
                            {% if item.town.name %}
                            Town: <a href={% url 'geo' %}?country__name={{ item.country.name|urlencode }}&state__name={{ item.state.name|urlencode }}&region__name={{ item.region.name|urlencode }}&county__name={{ item.county.name|urlencode }}&town__name={{ item.town.name|urlencode }}>{{ item.town.name }}</a>
                            <br>
                            {% endif %}
                            {% if item.village.name %}
                            Village: <a href={% url 'geo' %}?country__name={{ item.country.name|urlencode }}&state__name={{ item.state.name|urlencode }}&region__name={{ item.region.name|urlencode }}&county__name={{ item.county.name|urlencode }}&village__name={{ item.village.name|urlencode }}>{{ item.village.name }}</a>
                            <br>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div class="pagination">
                    <div class="step-links">
                        {% if page_obj.has_previous %}
                        <a href="?page=1">1</a>
                        {% if page_obj.number > 2 %}
                        <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                        {% endif %}
                        {% endif %}

                        <span class="current">
                            {{ page_obj.number }}
                        </span>

                        {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src={% static "google_trip/js/country_navigate.js" %}></script>
{% endblock %}