{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="attr_detail">
    <div class="container">
        <div class="country-one-category">
            <div class="name">{{ object.name|safe }} ({{ object.country }})</div>
            {% if object.photo %}
            <div class="photo"><img src="{{ object.photo.url }}" alt=""></div>
            {% endif %}
            <div class="number_of_review">{{ object.number_of_review }}</div>
            <div class="rating">
                <div class="rating__item">★</div>
                <div class="rating__body">
                    <div class="rating__active"></div>
                    <div class="rating__items"></div>
                </div>
                <div class="rating__value">{{ object.rating }}</div>
            </div>
            <div class="info">
                {% if object.country.name %}
                Country: {{ object.country.name }}
                <br>
                {% endif %}
                {% if object.state.name %}
                State: {{ object.state.name }}
                <br>
                {% endif %}
                {% if object.region.name %}
                Region: {{ object.region.name }}
                <br>
                {% endif %}
                {% if object.county.name %}
                County: {{ object.county.name }}
                <br>
                {% endif %}
                {% if object.city.name %}
                City: {{ object.city.name }}
                <br>
                {% endif %}
                {% if object.town.name %}
                Town: {{ object.town.name }}
                <br>
                {% endif %}
                {% if object.village.name %}
                Village: {{ object.village.name }}
                <br>
                {% endif %}
            </div>
            <div id="map" style="width: 600px; height: 400px"></div>

            <figure class="highcharts-figure">
                <div id="container" data-json="{{ data }}" data-json-current="{{ data_current_object }}"></div>
                <p class="highcharts-description">
                    Chart showing all tourist attractions with rating > 4
                </p>
            </figure>


            <script src="https://api-maps.yandex.ru/2.1/?apikey=ea8ed546-bf5b-4f2e-93ae-2f84155eb151&lang=en_US" type="text/javascript">
    </script>
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>
            <script src={% static "google_trip/js/highcharts.js" %}></script>
            <script src={% static "google_trip/js/rating.js" %}></script>
        </div>
    </div>
</section>


{% endblock %}

