{% extends 'base.html' %}
{% load static %}

{% block content %}


<section class="attr_detail">
    <div class="container">
        <div class="detail-info">
            <div class="latitude">{{ object.latitude }}</div>
            <div class="longitude">{{ object.longitude }}</div>
            <div class="name name-detail"><span id="object_name">{{ object.name|safe }}</span> (<span id="country_name">{{ object.country }}</span>)</div>
            <div class="main_information">
                <div class="graph">
                    {% if object.photo %}
                        <div class="photo"><img src="{{ object.photo.url }}" alt=""></div>
                        {% else %}
                        <div class="photo">
                            <img src="/media/common/no_photo.jpg">
                        </div>
                    {% endif %}
                </div>
                <div class="info">
                    {% if object.country.name %}
                    <div>
                        Country: <a href={% url 'geo' %}?country__name={{ object.country.name|urlencode }}>{{ object.country.name }}</a>
                    </div>
                    {% endif %}
                    {% if object.state.name %}
                    <div>
                    State: <a href={% url 'geo' %}?country__name={{ object.country.name|urlencode }}&state__name={{ object.state.name|urlencode }}>{{ object.state.name }}</a>
                    </div>
                    {% endif %}
                    {% if object.region.name %}
                    <div>
                    Region: <a href={% url 'geo' %}?country__name={{ object.country.name|urlencode }}&region__name={{ object.region.name|urlencode }}>{{ object.region.name }}</a>
                    </div>
                    {% endif %}
                    {% if object.county.name %}
                    <div>
                    County: <a href={% url 'geo' %}?country__name={{ object.country.name|urlencode }}&state__name={{ object.state.name|urlencode }}&region__name={{ object.region.name|urlencode }}&county__name={{ object.county.name|urlencode }}>{{ object.county.name }}</a>
                    </div>
                    {% endif %}
                    {% if object.city.name %}
                    <div>
                    City: <a href={% url 'geo' %}?country__name={{ object.country.name|urlencode }}&state__name={{ object.state.name|urlencode }}&region__name={{ object.region.name|urlencode }}&county__name={{ object.county.name|urlencode }}&city__name={{ object.city.name|urlencode }}>{{ object.city.name }}</a>
                    </div>
                    {% endif %}
                    {% if object.town.name %}
                    <div>
                    Town: <a href={% url 'geo' %}?country__name={{ object.country.name|urlencode }}&state__name={{ object.state.name|urlencode }}&region__name={{ object.region.name|urlencode }}&county__name={{ object.county.name|urlencode }}&town__name={{ object.town.name|urlencode }}>{{ object.town.name }}</a>
                    </div>
                    {% endif %}
                    {% if object.village.name %}
                    <div>
                    Village: <a href={% url 'geo' %}?country__name={{ object.country.name|urlencode }}&state__name={{ object.state.name|urlencode }}&region__name={{ object.region.name|urlencode }}&county__name={{ object.county.name|urlencode }}&village__name={{ object.village.name|urlencode }}>{{ object.village.name }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>

            <div class="rating">
                <div class="rating__item">★</div>
                <div class="rating__body">
                    <div class="rating__active"></div>
                    <div class="rating__items"></div>
                </div>
                <div class="rating__value">{{ object.rating }}</div>
            </div>
            <div class="number_of_review">{{ object.number_of_review }} reviews</div>

            <div id="map"></div>

            <figure class="highcharts-figure">
                <div id="container" data-json="{{ data }}" data-json-current="{{ data_current_object }}"></div>
                <p class="highcharts-description">
                    Chart showing all tourist attractions with rating > 4
                </p>
            </figure>

            <script src="https://api-maps.yandex.ru/2.1/?apikey=ea8ed546-bf5b-4f2e-93ae-2f84155eb151&lang=en_US" type="text/javascript">
    </script>
            <script src={% static "google_trip/js/yandex_map.js" %}></script>
            <script src="https://code.highcharts.com/highcharts.js"></script>
            <script src="https://code.highcharts.com/modules/histogram-bellcurve.js"></script>
            <script src="https://code.highcharts.com/modules/exporting.js"></script>
            <script src="https://code.highcharts.com/modules/export-data.js"></script>
            <script src="https://code.highcharts.com/modules/accessibility.js"></script>
            <script src={% static "google_trip/js/highcharts.js" %}></script>
            <script src={% static "google_trip/js/rating.js" %}></script>
        </div>
    </div>
</section>


{% endblock %}

