{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} Tripper: tourist attractions, hotels, restaurants {% endblock %}</title>
    <link href="{% static 'google_trip/css/styles.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
</head>
<body>
<header class="header">
    <div class="header-inner">
        <a href="{% url 'home' %}">TRIPPER</a>
    </div>
    <nav class="menu">
        <ul class="navigation">
            <li><a href="{% url 'tourist_attractions_list' %}">THINGS TO DO</a></li>
            <li><a href="{% url 'hotels_list' %}">HOTELS</a></li>
            <li><a href="{% url 'restaurants_list' %}">RESTAURANTS</a></li>
        </ul>
    </nav>
</header>
{% block content %}
{% endblock %}
</body>
</html>